{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Touch Gestures</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    $(document).ready(() => {
      
      var rotate_hammer = new Hammer(document.getElementById('rotate-box'));
    
      rotate_hammer.get('rotate').set({ enable: true });

      rotate_hammer.on('rotate', function(ev) {
        document.getElementById("rotate-box").style.transform = "rotate(" + ev.rotation + "deg)";
      });

      var press_hammer = new Hammer(document.getElementById('press-box'));
    
      press_hammer.on('press', function() {
        document.getElementById("press-box").style.backgroundColor = "coral";
      });
      
      press_hammer.on('pressup', function() {
        document.getElementById("press-box").style.backgroundColor = "#7ce6df";
      });
      
      var tap_hammer = new Hammer(document.getElementById('tap-box'));
    
      tap_hammer.on('tap', function() {
        if (document.getElementById("tap-box").style.backgroundColor == "coral") {
          document.getElementById("tap-box").style.backgroundColor = "#7ce6df";
        } else {
          document.getElementById("tap-box").style.backgroundColor = "coral";
        }
      });
      
      var pan_hammer = new Hammer(document.getElementById('pan-box'));
      
      pan_hammer.get('pan').set({ direction: Hammer.DIRECTION_ALL });
      
      pan_hammer.on('panleft panright', function(ev) {
        document.getElementById("pan-box").style.transform = "translateX(" + ev.deltaX + "px)";
      });
      
      pan_hammer.on('panup pandown', function(ev) {
        document.getElementById("pan-box").style.transform = "translateY(" + ev.deltaY + "px)";
      });
      
      var pinch_hammer = new Hammer(document.getElementById('pinch-box'));
      
      pinch_hammer.get('pinch').set({ enable: true });
      
      pinch_hammer.on('pinch', function(ev) {
        document.getElementById("pinch-box").style.transform = "scale(" + ev.scale + ", " + ev.scale + ")";
      });
      
      var swipe_hammer = new Hammer(document.getElementById('swipe-box'));
      
      swipe_hammer.get('swipe').set({ direction: Hammer.DIRECTION_ALL });

      swipe_hammer.on('swipe', function(ev) {
        document.getElementById("swipe-box").style.transform = "translate(" + ev.deltaX + "px, " + ev.deltaY + "px)";
      });
    });
    
  </script>
</body>
</html>
